div {
  transform: translateY(11%);
  margin: auto;
  width: 94%;
  height: 30vh;
  swiper-container {
    swiper-slide {
      height: 25vh;
      img {
        width: 100%;
        height: 20vh;
        border-radius: 5px;
        bottom: -1px 11px 13px -6px rgb(87, 86, 86);
      }
    }
  }
}
